.HomePage {
  margin: 0 auto 4rem;
}

.section {
  display: flex;
  height: 22rem;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  padding: 0 2rem;
}

.BubbleRight,
.BubbleLeft {
  font-family: "Permanent Marker";
  font-weight: 500;
  color: #1b1b1b;
  background-color: #ffffff;
  padding: 15px 15px;
  position: relative;
  border-radius: 50px;
  width: 300px;
  top: -150px;
}

.logoAntoineRight,
.logoAntoineLeft {
  width: 250px;
}
.logoAntoineRight {
  transform: scaleX(-1);
  background: none;
}
.logoAntoineLeft {
  background: none;
}
.skateButtonRight {
  color: #eef0ed;
  border: none;
  background-color: #2c302e;
  padding: 15px 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Permanent Marker";
  transition: transform 0.3s ease;
  height: 50px;
  position: relative;
  top: -50px;
  width: max-content;
  box-shadow: -4px 4px 4px rgb(65, 64, 64);
}
.skateButtonRight:hover {
  transform: scale(1.05);
}
.skateButtonLeft {
  color: #eef0ed;
  border: none;
  background-color: #6662ff;
  padding: 15px 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Permanent Marker";
  transition: transform 0.3s ease;
  height: 50px;
  position: relative;
  top: -50px;
  width: max-content;
  box-shadow: 4px 4px 4px rgb(151, 151, 151);
}
.skateButtonLeft:hover {
  transform: scale(1.05);
}

.blue {
  background: linear-gradient(#6662ff, #33334d);
}

@media screen and (max-width: 700px) {
  .BubbleLeft,
  .BubbleRight {
    padding: 0px 10px;
    position: relative;
    top: -100px;
    font-size: 12px;
    width: 200px;
    border-radius: 15px;
  }

  .logoAntoineLeft,
  .logoAntoineRight {
    max-width: 9rem;
    max-height: 10rem;
  }

  .skateButtonLeft,
  .skateButtonRight {
    font-size: 10px;
    padding: 10px 15px;
    height: 30px;
  }

  .section,
  .blue{
    padding: 0 1rem;
  }
}
