.HomePage {
  margin: 0 auto 4rem;
}

section {
  display: flex;
  height: 22rem;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  padding: 0 2rem;
}

.BubbleRight,
.BubbleLeft {
  font-family: "Permanent Marker";
  font-weight: 500;
  color: #1b1b1b;
  background-color: #ffffff;
  padding: 15px 15px;
  position: relative;
  border-radius: 50px;
  width: 300px;
  top: -150px;
}

.logoAntoineRight {
  max-width: 14rem;
  max-height: 14rem;
  transform: scaleX(-1);
  background: none;
}
.logoAntoineLeft {
  max-width: 14rem;
  max-height: 14rem;
  background: none;
}
.skate-buttonRight {
  background-color: #ffffff;
  border: none;
  color: #131212;
  padding: 15px 25px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Permanent Marker";
  transition: transform 0.3s ease;
  height: 50px;
  position: relative;
  top: -50px;
  width: max-content;
}
.skate-buttonRight:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}
.skate-buttonLeft {
  background-color: #ffffff;
  border: none;
  color: #131212;
  padding: 15px 25px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Permanent Marker";
  transition: transform 0.3s ease;
  height: 50px;
}
.skate-buttonLeft:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

#blue {
  background-color: #6662ff;
}

@media screen and (max-width: 700px) {
  .BubbleLeft,
  .BubbleRight {
    padding: 10px 10px;
    position: relative;
    top: -100px;
    font-size: 12px;
    width: 200px;
  }

  .logoAntoineLeft,
  .logoAntoineRight {
    max-width: 10rem;
    max-height: 10rem;
  }
}
