.main {
  padding: 1rem 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.tricksAndXp {
  display: flex;
  justify-content: space-between;
  font-family: var(--titleFont);
  margin-top: 1rem;
}

.xpBar {
  height: 22px;
  width: 100%;
  background: var(--lightColor);
  border-radius: 10px;

  .progression {
    height: 100%;
    width: 10%;
    background-color: var(--orangeColor);
    border-radius: 10px 0 0 10px;
  }
}
