.tapbar {
  background-color: #d7dad7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  height: 8%;
}

.tapbar img {
  background-color: #d7dad7;
  height: 3.2rem;
  width: 3.2rem;
  overflow: hidden;
}

.buttonNav {
  border: none;
  background: #d7dad7;
}

@media screen and (min-width: 770px) {
  .tapbar {
    display: none;
  }
}
